<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">INGRESO</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <button class="btn btn-primary btn-lg btn-block">
            Login
          </button>
        </form>
        <!-- <div class="form-group mt-3">
          <button (click)="onGoogleLogin()" class="btn btn-lg btn-google">
            Google
          </button>
        </div> -->
        <div class="form-group mt-3">
          <p>
            Crear una contraseña? <a [routerLink]="['/register']"> Register </a>
          </p>
        </div>
        <div class="form-group mt-3">
          <p>
            <a [routerLink]="['/forgot-password']"> Olvidó su contraseña ? </a>
          </p>
        </div>
        <div class="form-group mt-3">
          <p>
            <a [routerLink]="['/forgot-password']"> ayuda </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
