<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">REGISTRARSE</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" required />

          </div>
          <div class="form-group">
            <label for="password">Password*</label>
            <input
              type="password"class="form-control"formControlName="password"  minlength="6" required
            />
          </div>
          <label >*La contraseña debe tener al menos 6 caracteres</label>
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Register
          </button>
        </form>
        <div class="form-group mt-3">
          <p>Ya tienes una cuenta?<a [routerLink]="['/login']"> Login </a></p>
        </div>
      </div>
    </div>
  </div>
</div>
