<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{ titulo }}
                        <div *ngIf="loading" class="spinner-border float-right" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                    </h3>
                    <span *ngIf="submitted && createEmpleado.invalid" class="badge badge-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <form class="mt-4" [formGroup]="createEmpleado" (ngSubmit)="agregarEditarEmpleado()" autocomplete="off">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="nombre"
                                    placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="apellido"
                                    placeholder="Apellido">
                            </div>
                        </div>
                        <div class="row">
                          <div class="col">
                              <input type="text" class="form-control form-control-lg" formControlName="rut"
                                  placeholder="Rut">
                          </div>
                          <div class="col">
                              <input type="email" class="form-control form-control-lg" formControlName="email"
                                  placeholder="E-mail">
                          </div>
                      </div>
                        <div class="row">
                          <div class="col">
                              <input type="text" class="form-control form-control-lg" formControlName="usuario"
                                  placeholder="Usuario">
                          </div>
                         </div>
                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary btn-lg mr-3"
                                routerLink="/home">Volver</button>
                            <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
