<link rel="stylesheet" href="view-source:https://icons.getbootstrap.com/">

<div class="container mt-4">
  <div class="card">
      <div class="card-body">
          <span class="h3">Listado de Empleados</span>
          <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
          <h5 style="margin-top: 30px;" *ngIf="empleados.length == 0">No hay datos para mostrar</h5>
          <!-- <mat-form-field class="">
          <mat-label>Buscar</mat-label>
              <input matInput (keyup)="filtrar($event)" placeholder="buscar">
          </mat-form-field> -->
          <!-- <div class="form-group">
            <input
            type="text"
            class="forms-control"
            placeholder="Buscar.."
            [(ngModel)]="filterpost"
            name="filterpost"
          />
          </div> -->
          <table *ngIf="empleados.length > 0" class="table table-striped mt-5">
              <thead>
                <tr>
									<th>Rut</th>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>E-mail</th>
									<th>Usuario</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let empleado of empleados">
                  <!-- | filter: filterpost -->
                  <td>{{ empleado.rut }}</td>
                  <td>{{ empleado.nombre }}</td>
                  <td>{{ empleado.apellido }}</td>
                  <td>{{ empleado.email }}</td>
                  <td>{{ empleado.usuario  }}</td>
                  <td>
                    <i  [routerLink]="['/editEmpleado/', empleado.id]" title="Editar">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                  </i>
                      <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash-alt fa-lg text-danger" title="Eliminar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      </i>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>
